.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

p{
  font-size: 5rem;
  margin-top:25vh;
}

button{
  width: 5rem;
  height: 3rem;
  margin: 1rem;
  font-size: 1rem;
}

.home{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
  margin-bottom: 30px;
}

.home input{
  
}

.home span{
  width: 40px;

}

.lis .head{
  padding: 2rem;
  text-align: center;
  margin-top: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.lis{
  display: flex;
  flex-direction: column;
}

.list {
  
  padding: 2rem;
  text-align: center;
  margin-top: 100px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}